<h1>{{ title }}</h1>

<!-- * AppComponent is a navigation shell with <a> links and a <router-outlet> -->
<nav>
  <!--
    * the routerLink is the selector
    * for te RouterLink directive
    * that turns user licks into router navigation.
  -->
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<!--
  * router-outlet tells the router
  * where to display routed views.
  * is one of the router directives.
-->
<router-outlet></router-outlet>

<app-messages></app-messages>
