<h2>profile editor</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" formControlName="firstName" />

  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" formControlName="lastName" />

  <div formGroupName="address">
    <h3>Address</h3>

    <label for="street">Street:</label>
    <input type="text" id="street" formControlName="street">

    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city">
  </div>

  <h3>modify the form data</h3>
  <button type="button" (click)="setProfile()">setValue</button>
  <button type="button" (click)="patchProfile()">patchValue</button>
  
  <h3>Complete the form to enable button.</h3>
  <button type="submit" [disabled]="!profileForm.valid">
    submit
  </button>
</form>

<!-- pre tag & jsonPipe -->
<pre>Profile Form Value(value): {{ profileForm.value | json }}</pre>
<pre>Profile Form Value(valueChanges, async): {{ profileForm.valueChanges | async | json }}</pre>